.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-color: #1E1F20;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  width: 60%;
  background-color: var(--color-black);
  border-radius: var(--border-radius-l);
  padding: 36px;
}

.info {
  display: grid;
  row-gap: 10px;
}

.logo {

}

.title {
  @include fluid-text(28, 20);
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  row-gap: 10px;
}

.label {
  position: relative;
  display: grid;
  row-gap: 8px;
  width: 100%;
}

.error {
  position: absolute;
  margin-top: 60px;
  font-size: 14px;
  color: #E70000;
}