.container {
  @include flex-center;

  flex-direction: column;
  row-gap: 64px;
  height: 90vh;
}

.form {
  display: flex;
  column-gap: 16px;
  width: 600px;
}

.select {
  width: 150px;
  height: 50px;
  border: var(--border);
  border-radius: var(--border-radius-m);
  padding: 8px 12px;
  transition-duration: var(--transition-duration);

  @include hover {
    border-color: var(--color-white);
  }
}

.label {
  position: relative;
  display: grid;
  row-gap: 8px;
  width: 100%;
}

.iframe {
  width: 900px;
  height: 500px;
  border-radius: var(--border-radius-m);
}