.leftMenu {
  padding-block: var(--container-padding-x);
  font-size: 14px
}

.list {
  gap: 6px;

  @include mobile-above {
    display: flex;
    flex-direction: column;
  }

  @include mobile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.item {
  max-width: 240px;
  padding-inline: var(--container-padding-x);
  border-radius: var(--border-radius-m);

  &:hover {
    background-color: rgb(255 255 255 / 0.2);
  }
}

.link {
  width: 100%;
  display: inline-flex;
  align-items: center;
  column-gap: fluid(24, 16);
  height: 40px;
  color: var(--color-white);
}

.icon {
  @include square(24px);

  filter: invert(1);
}